.our-items{
    z-index: 1;
    width: 100%;
    display: flex;
    padding-top: 70px;
    padding-bottom: 30px;

    &::after{
        width: 100%;
        height: 100%;
        position: absolute;
        content: "";
        top: 150%;
        z-index: -1;
        background: url(./imgs/salad.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 15% 65%;
        right: 0px;

        @media (max-width:695px) {
            background-size: 30%;
            top: 200%;
        }

        @media (max-width:430px) {
            content: none;
        }
    }

    @include gridcard; 
}