.members{
    z-index: 1;
    width: 100%;
    display: flex;
    padding-top: 70px;
    padding-bottom: 30px;

    @media (max-width:695px) {
        background-size: 30%;
        top: 200%;
    }

    @media (max-width:430px) {
        content: none;
    } 

    .members-content{ 
        width: 100%;
        display: grid;
        grid-template-rows: 20% 80%; 

        @media (max-width: 692px) {
            grid-template-rows: 10% 80%;
        }

        @include head-text-h2;  

        .members-list{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            padding: 10px;

            @media (max-width: 692px) {
                grid-template-columns: 1fr 1fr;
                padding: 10px;
            }
            @media (max-width: 430px) {
                grid-template-columns: 1fr;
                padding: 30px;
            }

            .card{
                width: 100%;
                min-height: 560px;
                display: inline-block;
                background-color:transparent;

                @media (min-width: 762px) {
                    width: 100%;
                    min-height: 400px;
                }

                &:hover .card-text {
                    border: 1px solid transparent;
                    box-shadow: 0px 15px 30px rgba(115, 113, 127, 0.1);
                    background-color: #fff;
                }

                .picture{
                    width: 100%;
                    height: 330px;
                    vertical-align: middle;
                    border-style: none; 
                    justify-content: center;
                    align-items: center;

                    @media (max-width:762px) {
                        width: 100%;
                        height: 255px; 
                    }

                    @media (max-width:407px) {
                        width: 100%;
                        height: 200px; 
                    }

                    img{
                        width: 100%;
                        height: 330px;
                        background-color: #555555;
                        background-repeat: no-repeat;
                        background-size: contain;
                        border-radius: 10px;
                        border-top: 1px solid transparent;

                        @media (max-width:762px) {
                            width: 100%;
                            height: 250px;
                        }

                        // @media (max-width:407px) {
                        //     width: 100%;
                        //     height: 200px; 
                        // }
                    }
                }

                .card-text{
                    width: 100%;
                    display: inline-block;
                    padding: 40px 30px;
                    border: 1px solid #e7e7e7;
                    border-radius: 100px 0px 623px 77px / 0px 50px 128px 58px;
                    background-color: #fff; 
                    -webkit-transition: 0.5s;
                    transition: 0.5s;
                    text-align: center;

                    @media (max-width:407px) {
                        width: 100%;
                        height: 250px; 
                    }

                    &:hover {
                        border: 1px solid transparent;
                        box-shadow: 0px 15px 30px rgba(115, 113, 127, 0.1);
                        background-color: #fff;
                    }

                    h3{
                        display: inline;
                        font-size: 24px;
                        font-weight: 700;
                        margin-bottom: 20px;

                        @media (max-width:761px) {
                            font-size: 21px;
                        }
                    }

                    p{
                        
                    }

                    a{
                        color: #2c3033;
                        margin-top: 28px;
                        text-transform: capitalize;
                        display: inline-block;
                        font-size: 15px;
                        -webkit-transition: 0.5s;
                        transition: 0.5s;
                        position: relative;
                        z-index: 1;


                        &:hover{
                            color: #ff6426 !important;
                            text-decoration: none;
                            -webkit-transition: 0.5s;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}