.our-items {
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 30px;
}

.our-items::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 150%;
  z-index: -1;
  background: url(./imgs/salad.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 15% 65%;
  right: 0px;
}

@media (max-width: 695px) {
  .our-items::after {
    background-size: 30%;
    top: 200%;
  }
}

@media (max-width: 430px) {
  .our-items::after {
    content: none;
  }
}

.our-items .items-content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
}

@media (max-width: 692px) {
  .our-items .items-content {
    -ms-grid-rows: 10% 80%;
        grid-template-rows: 10% 80%;
  }
}

.our-items .items-content .text {
  display: block;
  padding-right: 67%;
  margin-bottom: 70px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 890px) {
  .our-items .items-content .text {
    padding-right: 0px;
  }
}

.our-items .items-content .text p {
  color: #555555;
  font-size: 16px;
  margin-bottom: 7px;
}

.our-items .items-content .text h2 {
  font-size: 40px;
  color: #2c3033;
  line-height: 1.25;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.our-items .items-content .text h2::after {
  width: 90px;
  height: 10px;
  position: absolute;
  content: "";
  bottom: 9px;
  z-index: -1;
  left: 0;
  background-color: #ff6426;
}

.our-items .items-content .items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

@media (max-width: 692px) {
  .our-items .items-content .items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
}

@media (max-width: 430px) {
  .our-items .items-content .items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 10px;
  }
}

.our-items .items-content .items .card {
  width: 100%;
  min-height: 560px;
  display: inline-block;
  background-color: transparent;
}

@media (min-width: 762px) {
  .our-items .items-content .items .card {
    width: 100%;
    min-height: 400px;
  }
}

.our-items .items-content .items .card:hover .card-text {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 15px 30px rgba(115, 113, 127, 0.1);
          box-shadow: 0px 15px 30px rgba(115, 113, 127, 0.1);
  background-color: #fff;
}

.our-items .items-content .items .card .picture {
  width: 100%;
  height: 330px;
  vertical-align: middle;
  border-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 762px) {
  .our-items .items-content .items .card .picture {
    width: 100%;
    height: 255px;
  }
}

@media (max-width: 407px) {
  .our-items .items-content .items .card .picture {
    width: 100%;
    height: 200px;
  }
}

.our-items .items-content .items .card .picture img {
  width: 100%;
  height: 330px;
  background-color: #555555;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  border-top: 1px solid transparent;
}

@media (max-width: 762px) {
  .our-items .items-content .items .card .picture img {
    width: 100%;
    height: 250px;
  }
}

.our-items .items-content .items .card .card-text {
  width: 100%;
  display: inline-block;
  padding: 40px 30px;
  border: 1px solid #e7e7e7;
  border-radius: 100px 0px 623px 77px / 0px 50px 128px 58px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 407px) {
  .our-items .items-content .items .card .card-text {
    width: 100%;
    height: 250px;
  }
}

.our-items .items-content .items .card .card-text:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 15px 30px rgba(115, 113, 127, 0.1);
          box-shadow: 0px 15px 30px rgba(115, 113, 127, 0.1);
  background-color: #fff;
}

.our-items .items-content .items .card .card-text h3 {
  display: inline;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 761px) {
  .our-items .items-content .items .card .card-text h3 {
    font-size: 21px;
  }
}

.our-items .items-content .items .card .card-text a {
  color: #2c3033;
  margin-top: 28px;
  text-transform: capitalize;
  display: inline-block;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}

.our-items .items-content .items .card .card-text a:hover {
  color: #ff6426 !important;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=our-items.css.map */